:root {
  --cheyssonBlue: steelBlue;
  --cheyssonBlack: #333333;
  --cheyssonPaper: linen;
  --TrietschRed: #e5592e;
  --TrietschDarkRed: #9b4429;
  --TrietschBlue: #c3e2e5;
  --TrietschGrey: #beac9a;
  --TrietschGreen: #97afa0;
}

body{
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  margin: 25px;
  text-align: left;
font-size: 20px;
line-height: 1.3;
font-weight: 500;
width: 25em;
margin-left: auto;
margin-right: auto;
color: #333;
background-color: #fff;
}

a:link {
  color: #359bd7;
  text-decoration: none;
}

a:visited {
  color: #359bd7;
  text-decoration: none;
}

h1 {
  font-size: 12vw;
  letter-spacing: 0.25vw;
  font-weight: 100;
  -webkit-font-smoothing:antialiased;
  line-height: 0;
  text-align: center;
  /* margin-left: auto;
margin-right: auto; */
/* position:absolute; */
  mix-blend-mode: multiply;
}

.title {
  font-size: 8vw;
  letter-spacing: 0.25vw;
  font-weight: 100;
  -webkit-font-smoothing:antialiased;
  text-align: center;
  mix-blend-mode: multiply;
}

.title4 {
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 54px;
  letter-spacing: 0.25vw;
  font-weight: 100;
  -webkit-font-smoothing:antialiased;
  text-align: center;
  text-anchor: middle;
  /* margin-left: auto;
margin-right: auto; */
/* position:absolute; */
  mix-blend-mode: multiply;
}

.blue {
  color: blue;
  transform: translate(0vw,7.85vw);
}

.red {
  color: red;
  transform: translate(.15vw,0vw);
}

.yellow {
  color: yellow;
  transform: translate(-.15vw,-8vw);
}

.center {
  display: flex;
  justify-content: center; 
  margin-bottom: 10vw;
}


.line {
  width: 45em;
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  border-bottom:2px solid #cccccc;
}

.tagline {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

/* gridBridge */
.gridBridgeBlue {
  fill: var(--cheyssonBlue);
}
.gridBridgeBlack {
  fill: var(--cheyssonBlack);
}

.gridBridgeAxis {
  font-weight: 800;
  text-anchor: middle;
  font-size: 10px;
  fill: var(--cheyssonBlack);
}

.gridBridgeSubtitle {
  font-weight: 400;
  text-anchor: middle;
  font-size: 8px;
  font-style: italic;
}

.gridBridgePath {
  font-weight: 800;
  font-style: italic;
  font-size: 8px;
  text-anchor: start;
  letter-spacing: .1em;
  text-shadow: 
    0px .5px 0px var(--cheyssonPaper),
    0px -.5px 0px var(--cheyssonPaper),
    .5px 0px 0px var(--cheyssonPaper),
    -.5px 0px 0px var(--cheyssonPaper),
    .5px .5px 0px var(--cheyssonPaper),
    -.5px -.5px 0px var(--cheyssonPaper),
    .5px -.5px 0px var(--cheyssonPaper),
    -.5px .5px 0px var(--cheyssonPaper),
    0px .75px 0px var(--cheyssonPaper),
    0px -.75px 0px var(--cheyssonPaper),
    .75px 0px 0px var(--cheyssonPaper),
    -.75px 0px 0px var(--cheyssonPaper),
    .75px .75px 0px var(--cheyssonPaper),
    -.75px -.75px 0px var(--cheyssonPaper),
    .75px -.75px 0px var(--cheyssonPaper),
    -.75px .75px 0px var(--cheyssonPaper);
}

.gridBridgeLine {
  stroke: var(--cheyssonBlack);
  stroke-width: .5px;
  stroke-linecap: "round";
}

.gridBridgeBorder {
  stroke: var(--cheyssonBlack);
  stroke-width: 2px;
  fill: none;
}

.gridBridgeCurve {
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.stackpopTitle {
  font-weight: 800;
  text-anchor: middle;
  font-size: 14px;
  fill: var(--cheyssonBlack);
}

.stackpopText {
  font-weight: 400;
  font-size: 14px;
  fill: var(--cheyssonBlack);
}

.palaestinaTitle {
  font-family: "din-2014-rounded-variable","circe-rounded",Verdana, Garamond, Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-variation-settings: "wght" 500;
  text-anchor: middle;
  fill: var(--cheyssonBlack);
  letter-spacing: -1.5px;
}

.palaestinaInset {
  font-family: "din-2014-rounded-variable","circe-rounded",Verdana, Garamond, Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-variation-settings: "wght" 700;
  text-anchor: middle;
  fill: var(--TrietschDarkRed);
  letter-spacing: -1.5px;
  stroke: "none";
}

.palaestinaLabel {
  font-family: "din-2014-rounded-variable","circe-rounded",Verdana, Garamond, Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-variation-settings: "wght" 500;
  text-anchor: start;
  fill: var(--cheyssonBlack);
  letter-spacing: -1px;
}

.futuraPt {
font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;
}

.nicb {
  font-family: 'Courier New', arial, sans-serif;
}

svg,
svg > text {
  font-size: 1em;
  margin: 0;
  font-family: "Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
